body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 要素を中央に配置するためのスタイル */
}

#downloadLink {
    margin-top: 20px;
}
